{
  "$schema": "https://biomejs.dev/schemas/1.9.4/schema.json",
  "vcs": {
    "enabled": true,
    "clientKind": "git",
    "useIgnoreFile": true
  },
  "files": {
    "ignore": [
      "**/node_modules/**",
      "**/dist/**",
      "**/build/**",
      "**/.medusa/**",
      "**/coverage/**",
      "**/reports/**",
      "**/*.js",
      "**/yarn.lock",
      "**/package-lock.json",
      "**/.turbo/**"
    ]
  },
  "formatter": {
    "enabled": true,
    "formatWithErrors": false,
    "indentStyle": "space",
    "indentWidth": 4,
    "lineEnding": "lf",
    "lineWidth": 80,
    "attributePosition": "auto"
  },
  "organizeImports": {
    "enabled": true
  },
  "linter": {
    "enabled": true,
    "rules": {
      "recommended": true,
      "complexity": {
        "noBannedTypes": "error",
        "noUselessTypeConstraint": "error"
      },
      "correctness": {
        "noUnusedVariables": "error",
        "useExhaustiveDependencies": "warn",
        "noUseBeforeDefine": "error"
      },
      "style": {
        "noParameterAssign": "error",
        "useConst": "error",
        "useTemplate": "error",
        "useNamingConvention": {
          "level": "off"
        }
      },
      "suspicious": {
        "noExplicitAny": "warn",
        "noArrayIndexKey": "warn"
      },
      "security": {
        "noDangerouslySetInnerHtml": "error"
      }
    }
  },
  "javascript": {
    "formatter": {
      "quoteStyle": "double",
      "jsxQuoteStyle": "double",
      "trailingCommas": "none",
      "semicolons": "always",
      "arrowParentheses": "always",
      "bracketSpacing": true,
      "bracketSameLine": false
    },
    "globals": ["jest", "NodeJS", "console"]
  },
  "json": {
    "formatter": {
      "enabled": true
    }
  },
  "overrides": [
    {
      "include": ["packages/storefront/**"],
      "linter": {
        "rules": {
          "correctness": {
            "useExhaustiveDependencies": "warn"
          },
          "suspicious": {
            "noArrayIndexKey": "off"
          }
        }
      }
    },
    {
      "include": ["**/api/**/*.ts", "**/common/**/*.ts", "**/bin/**/*.ts"],
      "linter": {
        "rules": {
          "style": {
            "noInferrableTypes": "off"
          }
        }
      }
    },
    {
      "include": ["**/medusa-js/**/resources/**/*.ts"],
      "linter": {
        "rules": {
          "style": {
            "noInferrableTypes": "off"
          }
        }
      }
    }
  ]
}

